<div class="container">
    <form [formGroup]="registryForm" class="row">
        <div class="col-md-6">
            <h5>Información del visitante</h5>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input formControlName="email" required type="email" class="form-control" id="email"
                    placeholder="some@email.com" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Correo electrónico</small>
            </div>
            <div class="form-group">
                <label for="temperature">Temperatura</label>
                <input formControlName="temperature" required min="0" max="100" step="0.1" value="36" type="number"
                    class="form-control" id="temperature" aria-describedby="temperatureHelp">
                <small id="temperatureHelp" class="form-text text-muted">i.e 36.1 °C</small>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Tiendas a visitar</h5>
            <div class="form-group">
                <label for="mallsSelector">Selecciona una o mas tiendas</label>
                <select formControlName="malls" required multiple class="form-control" id="mallsSelector">
                    <option *ngFor="let mall of malls" value={{mall.pk}}>{{mall.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <button [disabled]="!registryForm.valid" class="btn btn-primary"
                (click)="onCreateRegistry(registryForm.value)">Registrar Visitante</button>
        </div>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tiendas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registry of registries; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{registry.visitor.name}}</td>
                    <td>{{registry.temperature}} °C</td>
                    <td>{{registry.created_at}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let mall of registry.mall">{{mall.name}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>